In [17]:
import pandas as pd
import numpy as np

# Création tables par thématique pour les BBA

In [25]:
data = pd.read_excel('PB_2019_BBA.xlsx', sep = ';')
data

,donnees_generales,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168,Unnamed: 169,Unnamed: 170,Unnamed: 171,Unnamed: 172,Unnamed: 173
identifiant école,Nom de l'ecole,Nom du programme,Numéro de téléphone,Effectif 1ere année,Nombre de diplômés 2017,Effectifs 2017/2018 1er année,Effectifs 2017/2018 2eme année,Effectifs 2017/2018 3eme année,Effectifs 2017/2018 4eme année,Effectifs 2017/2018 5eme année,...,Nb stage à l'étranger césure,Durée moyenne 1er année,Durée moyenne 2eme année,Durée moyenne 3eme année,Durée moyenne 4eme année,Durée moyenne 5eme année,Durée moyenne 6eme année,Campus séjourné étudiants,Combien de campus,Combien partis en séjour 2017/2018
ISTEC,ISTEC,Programme Grande Ecole,660517527,104,219,117,113,135,254,262,...,2,3,3,3,6,6,6,1,7,112
EBS,"EBS PARIS, membre du GROUPE INSEEC U.",EBS Paris,07 87 42 82 61,192,311,192,208,261,362,330,...,7,3,3,6,3,8,10,1,3,269
EDC Paris,EDC Paris Business School,Programme Grande Ecole,07 61 42 85 57,148,222,210,241,251,239,256,...,4,2,3,6,3,6,12,0,NaN,NaN
EDHEC International BBA,EDHEC Business School,EDHEC International BBA,320154507,955,553,863,730,901,553,NaN,...,NaN,2,4,5,7,NaN,NaN,1,2,73
EM Lyon Global BBA,emlyon business school,Global BBA,04 72 18 46 47,387,92,264,200,196,104,NaN,...,3,4,6,6,6,NaN,12,1,3,114
EM Normandie,EM Normandie,Programme Grande Ecole EM Normandie,232925849,631,562,580,343,450,598,499,...,173,3,3,4,3,8,12,1,2,166
BBA International La Rochelle,La Rochelle Business School,BBA International,05 46 51 77 65,102,130,115,138,100,130,2,...,2,4,4,2,8,NaN,12,1,2,57
BBA ESC Troyes,SCBS (Y SCHOOLS),BBA,351842315,28,78,37,48,72,54,0,...,0,2,6,5,6,0,0,0,NaN,NaN
ESCE,ESCE,Programme Grande Ecole,01 81 51 16 16,327,635,291,376,510,667,632,...,2,3,0,6,0,6,6,1,3,212
ESDES,ESDES,Programme Grande Ecole,426845222,170,291,195,180,216,316,312,...,5,2,2,4,6,6,10,0,NaN,NaN
PSB,PSB PARIS SCHOOL OF BUSINESS,PROGRAMME GRANDE ECOLE,153364445,450,454,550,368,437,457,481,...,48,3,2,6,6,6,12,1,4,47
ESSCA,ESSCA SCHOOL OF MANAGEMENT,Programme Grande Ecole de l'ESSCA,241735778,1034,572,980,774,661,778,635,...,51,3,3,5,6,6,12,1,2,147
ESSEC Global BBA,ESSEC Business School,Global BBA,134433286,485,301,510,459,450,325,NaN,...,NaN,3,1,6,0,NaN,NaN,1,2,189
KEDGE International BBA,KEDGE BUSINESS SCHOOL\t\t\t\t,International BBA\t\t,06 71 535 161,209,264,116,220,217,229,NaN,...,NaN,2,6,0,6,NaN,NaN,1,2,17
ICD,ICD Business School Paris Toulouse,ICD Programme Grande Ecole,611929800,101,308,98,90,98,417,329,...,22,2,3,3,3,0,12,1,2,301
IDRAC,IDRAC BUSINESS SCHOOL,Programme Grande Ecole,472853805,47,111,47,52,81,76,108,...,NaN,1,5,3,5,5,NaN,1,6,21
IESEG,IESEG School of Managament,Programme Grande Ecole,684128276,871,800,846,824,816,877,850,...,206,2,3,5,7,8,11,0,NaN,NaN
INSEEC BBA,INSEEC,BBA,603400167,436,390,440,447,444,455,NaN,...,NaN,1,3,4,6,NaN,NaN,1,3,353
IPAG,IPAG Business School,Programme Grande Ecole,153633615,384,340,459,422,359,502,348,...,127,2,2,6,6,6,10,1,2,53
NEOMA CESEM,NEOMA Business School,CESEM,173069839,261,296,255,200,242,219,NaN,...,NaN,3,6,6,6,NaN,NaN,0,NaN,NaN
NEOMA Globla BBA,NEOMA Business School,Global BBA,173069839,234,181,120,203,207,196,NaN,...,NaN,3,3,3,6,NaN,NaN,0,NaN,NaN
EMLV,EMLV - Groupe Léonard de Vinci,EMLV - Ecole de Management Léonard de Vinci,01 41 16 70 53,287,153,231,183,195,179,172,...,1,3,2,9,4,8,12,1,1,5
SKEMA BBA in Global Management,SKEMA Business School,BBA in Global Management,06 19 20 10 41,200,142,183,166,182,142,NaN,...,NaN,3,3,6,6,NaN,12,1,3,172

In [26]:
# Thématiques et positions des colonnes pour chaque thématique
thematiques = [x for x in list(data) if not x.startswith('Unnamed')]
positions = dict()
for x in thematiques :
    positions[x] = data.columns.get_loc(x)
positions

{'donnees_generales': 0,
 'insertion': 25,
 'professionalisation': 32,
 'entreprenariat': 51,
 'accreditations': 63,
 'pedagogie': 74,
 'numerique': 87,
 'selectivite': 97,
 'diversite': 113,
 'recherche': 121,
 'international': 136}

In [91]:
# liste avec les tables bachelor
bachelor_tables = list()
for i in range(len(positions)) :
    if i < len(positions) - 1 :
        bachelor_tables.append(data.iloc[:,positions.get(thematiques[i]) : positions.get(thematiques[i+1])])
    else :
        bachelor_tables.append(data.iloc[:, positions.get(thematiques[i]) : ])

In [92]:
for i in range(len(bachelor_tables)) :
    bachelor_tables[i].reset_index(inplace = True)
    bachelor_tables[i].columns = bachelor_tables[i].iloc[0].tolist()
    bachelor_tables[i] = bachelor_tables[i] \
                                .loc[bachelor_tables[i]['identifiant école'].str.contains('BBA')] \
                                .reset_index(drop=True)

In [95]:
for name, table in zip(thematiques, bachelor_tables) :
    table.to_csv("data_bba_2019/{}.csv".format(name), sep = ';')